* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #fff;
}
.line {
  width: 100%;
  padding: 0 2.5rem;
}
.line hr {
  width: 100%;
}
@media (max-width: 700px) {
  .line {
    width: 100%;
    padding: 0 1rem;
  }
}
.header {
  display: flex;
  padding: 1rem 2.5rem;
}
.header .left p {
  color: #595260;
  margin-bottom: 0.5rem;
}
.header .left h1 {
  font-weight: 500;
  color: #595260;
}
.header .left,
.header .right {
  flex: 1;
}
.header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .right a {
  margin-right: 1rem;
  text-decoration: none;
  color: #595260;
}
.header .right a:nth-child(1) {
  text-decoration: underline;
}
.cart-box {
  position: relative;
}
.cart-box p {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: rgb(248, 38, 38);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.75rem;
}
@media (max-width: 700px) {
  .header {
    padding: 1rem 1.35rem;
    flex-direction: column;
  }
  .header .right {
    justify-content: flex-start;
    margin-top: 1rem;
  }
  .header .left h1 {
    font-size: 1.2rem;
  }
}

.home {
  display: flex;
  width: 100%;
  padding: 1rem 2.5rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.5rem;
}
.seats {
  display: flex;
  width: 100%;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  color: #595260;
}
.seats h2 {
  font-weight: 500;
}
.table-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem 0;
  background-color: #595260;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}
.table-head div {
  text-align: center;
  color: #fff;
}
.tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem 0;
  width: 100%;
  border: 1px solid #595260;
  border-bottom: 0;
}
.tile:last-child {
  border-bottom: 1px solid #595260;
}
.tile div {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #595260;
  border-right: 1px solid #595260;
}
.tile div:nth-child(4) {
  border: none;
}
button {
  border: 0;
  outline: 0;
  border-radius: 0.35rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 1px 0 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: #595260;
  color: #fff;
  min-height: 1.8rem;
  transform: scale(0.9);
  transition: 0.25s ease;
  min-width: 7rem;
}
button:hover {
  transform: scale(1);
}
.full {
  pointer-events: none;
  opacity: 0.5;
}
.cancel {
  background-color: #f8a488;
}
@media (max-width: 700px) {
  .seats {
    padding: 1.5rem 1rem;
  }
  .seats h2 {
    font-size: 1rem;
  }
  .home {
    padding: 1rem 1rem;
  }
  .home * {
    font-size: 0.7rem !important;
  }
  button {
    min-width: 3rem;
  }
  button:hover {
    transform: scale(0.9);
  }
  .tile {
    max-width: 100%;
    overflow-x: scroll;
  }
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
  color: #595260;
}
.error h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}
